body{
    display: flex;
    justify-content: center;
    background-color: rgb(240, 233, 233);
    margin: 0; 
    padding: 0;
    flex-direction: column;
}

.titulo{
    font-size: 40px;
    text-align: center;
    color: rgb(69, 67, 67);
    width: 380px;
    /* box-shadow: 5px 3px 5px 5px gray; */
    margin: 30px auto;
    background-color: white;
}

#slider{
    display: flex; 
    /* border: 3px solid red; */
    box-shadow: 5px 3px 5px 5px gray;
    width: 80%;
    max-width: 1200px; /* largura máx do ajuste da img */
    height: 250px;
   /*  max-height: 300px; */ /* altura máxima */
    position: relative; /*relativo ao slider  */
    margin: 30px auto; 
}

#slider img{
    /* especifica a transparência de um elemento */
   /*  opacity: 1;  *//*Quanto menor, mais transparente  */ 
    opacity: 0;
    position: absolute; /* Posiciona as imgs na mesma posição */
    width: 100%;
    height: 100%;
    /*  especifica como um objeto (imagem, vídeo) deve ser redimensionado para se ajustar ao seu contêiner*/
    object-fit: cover;  /* Redimensiona a img e mantém a proporção  */
    /* tempo da transição da opacidade */
    transition: opacity 2000ms;    
}

/* Define que a imagem da classe select ficará visível*/
#slider img.selected{
    /* totalmente visível */
    opacity: 1;
}

.container1{
    display: flex;
    margin: 0 20px ;
    width: 100%;
}

.container2{
    display: flex;
    margin: 10px 0px 0px 0px; 
    justify-content: space-around;
    height: 350px;
    align-items: center;
   /*  border: 4px solid blue; */
}

.texto{
    height: 320px;
    border-radius: 14px;
    width: 390px;
    background: white;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    margin: 0px 10px 0px 10px;
   /*  border: 4px solid rgb(255, 0, 0); */
    justify-content: space-around;  box-shadow: 5px 3px 5px 5px gray;
}

.texto:hover, .titulo:hover {
    background-color: rgb(240, 233, 233);
   
}

.palavra:hover, .titulo:hover{
    box-shadow: 2px 2px 4px 2px gray;
}

